body {
    background: #2b5876; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b5876, #4e4376); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2b5876, #4e4376); /* W3C */
}

/* loading-content - used to center #loading */
#loading-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

#loading {
    background-color: #3e6a8b;
    padding: 8px 16px;
    border-radius: 5px;
    color: #FEFEFE;
    font: 40px 'Helvetica';
}

.main {
    width: 500px;
    background: rgb(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
    margin: 3% auto 2% auto;
    color: white;
    font-family: 'Times New Roman',sans-serif;
}

.profile-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profileDetails h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.profileDetails h2{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.profileDetails p{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
}


.vertical-list {
    width: 100%;
}

.vertical-list a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-list a:hover {
    background-color: #ccc;
}

.vertical-list a.active {
    background-color: #345e7b;
    color: rgba(255, 255, 255, 0.55);
}

.footer ul{
    margin: 0;
    padding: 0;
}
.footer li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.footer li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.footer li a:hover{
    color: #b9b9b9;
}
